body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  monospace, Arial, Helvetica, sans-serif;
}
input, button {
  border: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

#home-main, .dashboard-welcome {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  
}
#home-main div, .dashboard-welcome div {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 2px solid #000;
} 

#home-main h1, .dashboard-welcome h1 {
  border-radius: 5px;
  font-weight: 600;
  padding: 1em;
}
#home-main p  {
  font-size: 1.4em;
  font-style: italic;
  text-transform: uppercase;
  color: #e6126a;
  font-weight: 700;
}
.links {
  color: #fff;
  text-decoration: none;
  padding-bottom: 0.2em;
}
.links:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #52925c;
}

.nav-link {
  color: #fff;
  margin-right: 1em;
}
.nav-link:hover {
  color: #fff;
  border-bottom: 3px solid rgb(47, 133, 36);
}
#create-survey-btn {
  border-radius: 5px;
}



#sidebar {
  flex-basis: 18%;
  display: flex;
  flex-flow: column; 
  padding: 0.8em;
  background-color: #52925c;
  min-height: 100vh;
}
.sidebar-link {
  margin-bottom: 0.5em;
  font-size: 1.1em;
  color: #fff;
  box-shadow: 0px 0px 2px 3px #91bb97;
  padding: 0.5em;
  background-color: rgb(66, 138, 114);
  border-radius: 5px;

}
.sidebar-link:hover {
  text-decoration: none;
  background-color: rgb(22, 196, 138);
  color: #fff;
}
#sidebar button {
  outline: none;
}

.create-survey-section {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.create-survey-card {
  flex-basis: 60%;
  height: 35em;
  margin-top: 5em;
  background-color: #fff;
  box-shadow: 0px 0px 2px 3px #cdd8ce;
  border-radius: 5px;
}


.create-survey-card .heading {
  background-color: #d4dad5;
  border-radius: 5px;
  text-align: center;
  padding: 0.5em 0;
}
.create-survey-card form {
  padding: 1em;
}

.form-group {
  margin-bottom: 1em;
}
.create-survey-inputs .form-control {
  margin-bottom: 1em;
} 
.create-survey-open-and-close-date {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 1em 0;
}
#open-datepicker, #close-datepicker {
  display: flex;
  flex-flow: column;
  align-items: baseline;
}
#open-datepicker, #close-datepicker p {
  text-transform: uppercase;
  font-weight: 600;
}
.create-survey-btn {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}


#active-surveys {
  flex-grow: 1;
  display: flex;
  padding: 0 0.5em;
}

#active-surveys table {
  border-radius: 5px;
  margin-top: 1em;
}


#questions-answers {
  display: flex;
  flex-flow: row wrap ;
  width: 100%;
  height: 100vh;
}
#question-answer-field {
  flex-basis: 70%;
  padding-bottom: 3em;
}
#question-answer-field .heading {
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.8em 0;
}

#add-question-answer-sidebar {
  flex-basis: 30%;
  border-left: 10px solid #7a837a;
}

.question-panel-header {
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #52925c;
    padding: 0.8em;
    color: #FFF;
    width: 100%;
  }
#add-question-answer-sidebar .links{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}


.question-panel-links:hover {
  color: #000;
  text-decoration: none;
}
.question-panel-input-field {
  margin-top: 4em;
}

.answer-inputs {
  margin: 0.5em 0;
}
.add-question-ans-btn {
  margin-left: 50%;
}


#question-answer-field .heading{
  text-align: center;
  background-color: #52925c;
  padding-left: 0.3em;
  color: #FFF;
}



.admin-survey-card .card-body{
display: flex;
flex-flow: column;
padding-left: 1.5em;
}
.card-text {
  margin: 0.2em 0;
  padding: 0.3em;
}
.admin-survey-delete-btn {
  width: 5em;
}

input[type='radio'] {
margin-right:  0.4em;
}
label {
  text-transform: capitalize;
}
.survey-submit-btn {
  margin-left: 45%;
  margin-top: 2em;
}

#survey-completed-msg {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;

}
#survey-completed-msg h1 {
  border-radius: 5px;
  font-weight: 600;
  padding: 1em;
  text-transform: capitalize;
}


.heading {
  text-align: center;
font-size: 2em;
background-color: #52925c;
padding: 0.5em 0;
}

